.header {
    background-color: #ffffff;
    border-bottom: 1px solid #E7E9FC;
}

.header .header-nav li {
    font-weight: 500;
}

.nav-link:hover, .nav-link:focus {
    color: #404bbf;
}

.nav-link:active {
    color: #404bbf;
}

.nav-link {
    color: #2e2f42;
}

.contacts-link:hover, .contacts-link:focus {
    color: #404bbf;
}

.contacts-link:active {
    color: #404bbf;
}

.contacts-link {
    color: #434455;
    font-style: normal;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    padding-left: 76px;
}

.header .header-nav {
   flex-grow: 1;
}

.contacts-list {
    display: flex;
    justify-content: right;
    gap: 40px;
    padding: 24px 0;
}

.nav-link {
    display:block;
    padding: 24px 0;
}