.header {
    background-color: #ffffff;
    border-bottom: 1px solid #E7E9FC;
}

.header .header-nav li {
    font-weight: 500;
}

.nav-link:hover, .nav-link:focus {
    color: #404bbf;
}

.nav-link:active {
    color: #404bbf;
}

.nav-link {
    color: #2e2f42;
}

.contacts-link:hover, .contacts-link:focus {
    color: #404bbf;
}

.contacts-link:active {
    color: #404bbf;
}

.contacts-link {
    color: #434455;
    font-style: normal;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.header .header-nav {
    flex-grow: 1;
}

.header .logo {
    padding-right: 76px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contacts-list {
    display: flex;
    gap: 40px;
}